@use "../abstract" as *;

.main-contact {

    .wrap-form {
        background: url("../img/bg.svg");

        form {
            margin: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (min-width:576px) {
                // Mettre les corners
                background: conic-gradient(from 90deg at top 2px left 2px, $white-main 90deg, $blue-main 0) 0 0 / 60px 60px no-repeat, conic-gradient(from -90deg at bottom 2px right 2px, $white-main 90deg, $blue-main 0) 100% 100% / 60px 60px no-repeat;
                padding: 3rem;
            }

            h4 {
                font-size: 2.4rem;
                width: 100%;
                text-align: center;

            }
            h5 {
                font-size: 2.2rem;
                color: $grey-text;
                width: 100%;
                text-align: center;
            }
            input {
                width: 100%;
                margin: 1rem 0;
                padding: .5rem;
            }
            [placeholder="First name"], [placeholder="Last name"] {
                width: 48%;
            }
            @media screen and (min-width:576px) {
                [placeholder="Email"], [placeholder="Phone"] {
                    width: 48%;
                }
            }

            select, textarea {
                width: 100%;
                background-color: $white-main;
                margin: 1rem 0;
                padding: .5rem;
            }
            small {
                font-style: italic;
                margin: 1rem 0 3rem;
            }
            button {
                padding: 1rem;
                margin: 0 auto;
                background-color: $blue-main;
                border: 0;
                border-radius: 1rem;
                color: $white-main;
                transition: .3s all ease-in-out;

                &:hover {
                    background-color: $black-text;
                    box-shadow: 0 0 5px $black-text;
                }
            }
        }
    }
    .wrap-map {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23444444' fill-opacity='0.16' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        padding: 3rem 0;

        @media screen and (min-width:960px) {
            padding: 3rem 6rem;
        }

        .map {
            display: flex;
            flex-direction: column;

            @media screen and (min-width:960px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }

        }
        section {
            width: 90%;
            margin: 2.5rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $white-main;
            text-align: center;
            overflow: hidden;

            @media screen and (min-width:576px) and (max-width:960px) {
                align-items: flex-start;
                text-align: left;
                padding-left: 2rem;
            }
            @media screen and (min-width:960px) {
                width: 30%;
                text-align: left;
            }

            h2 {
                margin-top: 1.5rem;
                flex-grow: 1;
                font-size: 2.6rem;

                @media screen and (min-width:960px) {
                    font-size: 2.8rem;
                }
            }
            .adresses {
                padding-bottom: 3rem;
                width: 80%;

                @media screen and (min-width:960px) {
                    display: flex;
                    justify-content: space-between;
                }

                address {
                    font-style: normal;
                }
                .to-contact {

                    @media screen and (min-width:960px) {
                        border-left: 1px solid $blue-main;
                        padding-left: .5rem;
                    }

                    i {
                        color: $blue-main;
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
            iframe {
                height: 17rem;
                width: 100%;
                margin: 0 2rem;

                @media screen and (min-width:576px) and (max-width:960px) {
                    margin: 0;
                }
            }
        }
    }

}