@use "../abstract" as *;

// General fonts
body {
    font-family: "Roboto", sans-serif;

    h1 {
        font-family: "Poppins", sans-serif;
    }
    blockquote {
        font-family: "Libre Baskerville", serif;
    }
    h2, h4 {
        font-family: "Poppins", sans-serif;
    }
}

// Container centré avec marges
.wrapper {
    width: 90%;
    margin: auto;

    @media screen and (min-width:960px) {
        width: 70%;
    }
}

// Mise en forme des titres standards
h3 {
    color: $blue-main;
    text-transform: uppercase;
    font-size: 1.7rem;
}
h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;

    @media screen and (min-width:960px) {
        font-size: 6rem;
    }
}