// les couleurs
$black-text: #020202;
$black-bg: #222222;
$white-main: #fff;
$blue-main: #0744af;
$blue-light: #3969bf;
$grey-card: #f3f5f9;
$grey-medium: #dddddd;
$grey-bg: #d6d8dc;
$grey-text: #909091;
// Partie de la couleur pour linear gradient home
$blue-linearGradient: #0e354e;

